torch
numpy
pillow
opencv-python
scikit-learn
transformers
torchvision
huggingface-hub
pytorch_lightning
requests
curl_cffi
numba
clip @ git+https://github.com/openai/CLIP.git
einops
ftfy
mambapy
matplotlib
regex
scipy
